.footer{
    width:1200px;
    height:244px;
    margin:0 auto;
    
    .footer_top{
        width:1200px;
        height: 152px;
        .footer_left{
            width:400px;
            height: 112px;
            margin:20px 0;
            border-right:1px solid #ccc;
            float:left;
            text-align: center;
         h1{
            img{
                 width:170px;
                height: 44px;
            }
         }
            .focus{
                display: flex;
                justify-content: center;
                li{
                    margin-right: 6px;
                    margin-top:10px;
                    img{
                        width:34px;
                        height: 37px;

                    }
                }
            }
        
        }
        .footer_middle{
            float:left;
            width:359px;
            height: 112px;
            margin:20px;
            border-right:1px solid #ccc;
          
            li{
                a{
                    font-size:12px;
                    color:#999;
                }
            }
        }
        .footer_right{
            float:right;
            width:358px;
            height: 112px;
            margin:20px;
            border-right:1px solid #ccc;
            li{
                a{
                    font-size:12px; 
                    color:#999;
                }
            }
           
        }
    }
}

// 
.bottom{
    width:1200px;
    height: 154px;
    margin:0 auto;
    .bottom_top{
        height: 20px;
        padding-top:15px;
        margin:10px 0 36px 40px;
        
        span{
            font-size:12px;
            margin-right:47px;
            img{
                width:20px;
                height: 20px;
            }
        }
    }
    .bottom_bot{
        width:700px;
        height: 33px;
        margin: 0 auto;
        img{
        //     width:61px;
        // height: 30px;
         margin-right:30px;
        }
        
    }
}