*{
margin:0;
padding:0;
}
ul,li { list-style: none;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
a{text-decoration:none;}
$font-size:12px;
@mixin size($width,$height){
    width:$width;
    height:$height;
}
.head{width:100%;background:black;}
.header{
    width:1200px;
    height: 30px;
    margin:0 auto;
    background:black;
    .header_left{
        width:175px;
        height:30px;
        float:left;
        :nth-child(1){
            width:103px;
        }
        :nth-child(3){
            margin-right: 0;
        }
        li{
            float:left;
            font-size:12px;
            width:24px;
            margin-right: 9px;
            line-height: 30px;
            a{color:#cccccc;} 
        }
        li:nth-child(2):hover a{
            color: #f35d8c
        }
        li:nth-child(3):hover a{
            color: #f35d8c;
        }
    }
    //左边头部
    .header_right{
        width:552px;
        height: 30px;
        float: right;
      
        li{
            float:left;
            font-size:12px;
            width:92px;
            height: 30px; 
            line-height: 30px;
            // position: relative;
            text-align: center;
            a{
                color:#cccccc; 
                img{width:10%;}
                
            }
            
            //右边头部
            //二级下拉菜单
            .header_menu {
                float:left;
                display: none;
                position: relative;
                width:92px;
                height: 112px;
                z-index:9999;
                background: #fff;
                li{
                    float:left;
                    text-align:left;
                   padding-left:12px;
                    a{
                        color:black;
                    }
                }
            }
        }
        
        li:hover .header_menu{ 
            display:block;
        }
        #header_menu1{
             width:290px;
             height: 166px;
            padding:0 25px;
            position: absolute;
             right: 0;
            z-index:1000;
            background:#fff;
            border:1px solid #ccc;
            display: none;
            li {
                width:92px;
                height: 153px;
                float:left;
                padding-top:12px;
                img{
                width:80px;
                height: 80px;
                display:block;
                margin-right: 5px;
                border:1px solid #ccc;
                }
                span{
                    font-size: 12px;
                    line-height: 14px;
                    display:block;
                    height: 16px;
                }
            }
        } 
    }
   
}
.header .header_right li:hover{
    background:#fff;
}
.header .header_right li:hover>a{
   color:black;
}
.header .header_right>li>a:hover{
    color:#ed008c;
 }
 .header_right .header_left:hover{
     background: #fff;
 }
 #aaa>li>a:hover{
   color: #ed008c;
 }
.header .header_right .header_li :hover img{
 transform: rotate(180deg);
    // background:red;
}
  
.header .header_right :nth-last-child(1):hover #header_menu1{
   display:block;
}
////////////////////////////////最上边///////
.search{
    width:1200px;
    height:83px;
    //  background:yellow;
    margin:0 auto;
     padding-top:15px;
    .search_left{
        width:600px;
        height:83px;
        float:left;
        h1{
          float:left;
            width:210px;
            height: 58px;
            img{
                width:170px;
                height: 45px;
            }
        }
    }
    .search_middle{
        float:left;
        width:390px;
        height: 44px;
        // background: #f35d8c;
        a{
             color:#ed008c;
        }
        ul{
            height: 18px;
            margin-top:5px;
            li{
                float:left;
                margin-right:5px;  
                font-size:12px;
                }
            img{
                position:relative;
                top:4px;
            }
        }
    }
    .search_right{
        width:600px;
        height: 83px;
        float: right;
        .search_input{
           width:440px;
           height:40px;
           border:1px solid #ed008c;
           border-radius:20px;
           float:left;
           z-index:1;
           ul{
               width:436px;
               height:20px;
               text-align:center;
               li{
                   float:left;
                   margin:0 10px;
                   
                   a{
                        color:black;
                        font-size:12px; 
                        // margin-right:5px;
                   }
                   
               }
           }
           input{
             margin:3px 16px;
               width:319px;
               height:26px;
               border:none;
               outline: none;
           }
           span{
               background: #ed008c;
               width:82px;
               height:40px;
               display: inline-block;
               border-radius: 0 20px 20px 0;
               text-align: center;
               position: relative;
               top:-1px;
               border:1px solid #ed008c;
              img{
                  position:relative;
                  top:10px;
              }
           }
        }
        .cart{
            width:106px;
            height: 36px;
            border:1px solid #ed008c;
            float: right;
            border-radius: 20px;
            text-align: center;
            vertical-align: middle;
            a{
                position: relative;
               top:5px;
               font-size:14px;
                color:#ed008c;
               span{ 
                font-size:14px;
                color:#ed008c;
              
                } 
            }
        }
    }
}
.search_right .search_input>ul>li:hover a{
    color:#ed008c;
}
// ////////////////搜索///////////////////////////////
.nav{
    width:1200px;
    height: 48px;
    margin:0 auto;
    .nav_left{
        width:813px;
        height: 48px;
        // :nth-child(1){
        //     color:#ed008c;
        //     width:164px;
        //     height: 48px;
        // }
        // :nth-child(1){
        //    background: #ed008c;
        //     img{
        //         width:16px;
        //         height: 16px; color:#ed008c;
        //     }
        // }
        li{
            float:left;
            padding:0 27px;
            height: 48px;
            line-height: 48px;
            a{
                color:black;
                font-weight:900;
            }
        }
        // li:nth-child(6) .nav_menu{
        //         width:862px;
        //         height:137px;
        //         padding-top :20px;
        //         border:1px solid #ed008c;
        //         position: relative;
        //         li{
        //             float:left;
        //             img{
        //                 width:109px;
        //                 height: 66px;
        //                 padding-right:10px;
        //                 margin-bottom:10px;
        //             }
        //         }
        //     }
    }
}
.nav .nav_left li:nth-child(1){
    background: #ed008c;
  
    img{
                width:16px;
                height: 16px; color:#ed008c;
                margin-right:5px;   
            } 
    a{ color:#fff;}      
}
.nav .nav_left li:hover a{
    color: #ed008c;
}
.nav .nav_left li:nth-child(1):hover a{
    color:#fff;
}
// ////////////////导航////////////////////////////////
